<include file='index:header' />
<link href="__PUBLIC__/css/common.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/css/themes/default/default.css" rel="stylesheet" type="text/css" />
<div class="main-container" id="main-container">


    <include file='index:left' />

    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">

                <div class="page-header">
                    <h1>
                        您当前操作
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            修改文章
                        </small>
                    </h1>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div>
                            <div class="formbody">
                                <div id="msg">
                                    <form id="editForm">
                                        <table class="page_table" cellpadding="0" cellspacing="1">
                                            <tr>
                                                <td width="10%" class="td_left">标题：</td>
                                                <td width="90%" class="left"><input name="title" value="{$row.title}" style="width:350px;" class="biankuan" placeholder="请输入标题名称"/></td>
                                            </tr>

                                            <tr>
                                                <td width="10%" class="td_left">标题缩写：</td>
                                                <td width="90%" class="left"><input  type="text" name="smalltitle" value="{$row.smalltitle}" class="biankuan" style="width:350px;"/></td>
                                            </tr>
                                            <tr>
                                                <td width="10%" class="td_left">类型：</td>
                                                <td width="90%" class="left">
                                                    <select name="fid" id="fid">
                                                        <option id='fid_1' value=1>高手贴</option>
                                                        <option id='fid_2'  value=2>精英榜</option>
                                                        <option id='fid_3' value=3>原创公式</option>
                                                        <option id='fid_4' value=4>玄机解密</option>
                                                    </select>
                                                    <input type="hidden" id='fname' name="fname" value="">
                                                    <script>document.getElementById('type').value='{$row.fid}'</script>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="10%" class="td_left">作者：</td>
                                                <td width="90%" class="left"><input  type="text" name="author" value="{$row.author}" class="biankuan" style="width:350px;"/></td>
                                            </tr>
                                            <tr>
                                                <td width="10%" class="td_left">热度：</td>
                                                <td width="90%" class="left"><input  type="text" name="hits" value="{$row.hits}" class="biankuan" style="width:350px;"/></td>
                                            </tr>
                                            <tr>
                                                <td width="10%" class="td_left">图片来源：</td>
                                                <td width="90%" class="left"><input  type="text" name="picurl" value="{$row.picurl}" class="biankuan" style="width:350px;"/></td>
                                            </tr>
                                            <tr>
                                                <td>内容：</td>
                                                <td colspan="2" class="left"><textarea id="editor_id"  name="content" style="width:700px;height:300px;">{$row.content}</textarea></td>
                                            </tr>
                                            <input type="hidden" name="id" value="{$row.id}">
                                            <tr>
                                                <td>
                                                </td>
                                                <td align="left">
                                                    <input type="button"  value="提交内容" class="tijiao_input"  onClick="edit()"/>
                                                </td>
                                            </tr>
                                        </table>
                                    </form>
                                </div>
                                <div>
                                </div>
                            </div>
                        </div>

                        <include file='index:header_nav' />

                    </div><!-- /.page-content -->
                </div>
            </div><!-- /.main-content -->
        </div>
        <include file='index:footer' />
    </div>
    <script src="__PUBLIC__/js/jquery.min.js"></script>

    <script>
        //=======================获取数据
        function edit(){
            $('#fname').val($('#fid_'+$('#fid').val()).html());
            $.ajax({
                url: "",
                dataType:"json",
                type:"POST",
                data:$('#editForm').serialize(),
                success:function(data) {
                    if(data.status==1){
                        layer.msg(data.info);
                        location.href='__CONTROLLER__/manage';
                    }else{
                        layer.msg(data.info);
                    }

                }
            });

        }

        jQuery(function($){

            function showErrorAlert (reason, detail) {
                var msg='';
                if (reason==='unsupported-file-type') { msg = "Unsupported format " +detail; }
                else {
                    console.log("error uploading file", reason, detail);
                }
                $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>'+
                    '<strong>File upload error</strong> '+msg+' </div>').prependTo('#alerts');
            }

            //$('#editor1').ace_wysiwyg();//this will create the default editor will all buttons

            //but we want to change a few buttons colors for the third style
            $('#editor1').ace_wysiwyg({
                toolbar:
                    [
                        'font',
                        null,
                        'fontSize',
                        null,
                        {name:'bold', className:'btn-info'},
                        {name:'italic', className:'btn-info'},
                        {name:'strikethrough', className:'btn-info'},
                        {name:'underline', className:'btn-info'},
                        null,
                        {name:'insertunorderedlist', className:'btn-success'},
                        {name:'insertorderedlist', className:'btn-success'},
                        {name:'outdent', className:'btn-purple'},
                        {name:'indent', className:'btn-purple'},
                        null,
                        {name:'justifyleft', className:'btn-primary'},
                        {name:'justifycenter', className:'btn-primary'},
                        {name:'justifyright', className:'btn-primary'},
                        {name:'justifyfull', className:'btn-inverse'},
                        null,
                        {name:'createLink', className:'btn-pink'},
                        {name:'unlink', className:'btn-pink'},
                        null,
                        {name:'insertImage', className:'btn-success'},
                        null,
                        'foreColor',
                        null,
                        {name:'undo', className:'btn-grey'},
                        {name:'redo', className:'btn-grey'}
                    ],
                'wysiwyg': {
                    fileUploadError: showErrorAlert
                }
            }).prev().addClass('wysiwyg-style2');






            //Add Image Resize Functionality to Chrome and Safari
            //webkit browsers don't have image resize functionality when content is editable
            //so let's add something using jQuery UI resizable
            //another option would be opening a dialog for user to enter dimensions.
//	if ( typeof jQuery.ui !== 'undefined' && /applewebkit/.test(navigator.userAgent.toLowerCase()) ) {
//
//		var lastResizableImg = null;
//		function destroyResizable() {
//			if(lastResizableImg == null) return;
//			lastResizableImg.resizable( "destroy" );
//			lastResizableImg.removeData('resizable');
//			lastResizableImg = null;
//		}
//
//		var enableImageResize = function() {
//			$('.wysiwyg-editor')
//			.on('mousedown', function(e) {
//				var target = $(e.target);
//				if( e.target instanceof HTMLImageElement ) {
//					if( !target.data('resizable') ) {
//						target.resizable({
//							aspectRatio: e.target.width / e.target.height,
//						});
//						target.data('resizable', true);
//
//						if( lastResizableImg != null ) {//disable previous resizable image
//							lastResizableImg.resizable( "destroy" );
//							lastResizableImg.removeData('resizable');
//						}
//						lastResizableImg = target;
//					}
//				}
//			})
//			.on('click', function(e) {
//				if( lastResizableImg != null && !(e.target instanceof HTMLImageElement) ) {
//					destroyResizable();
//				}
//			})
//			.on('keydown', function() {
//				destroyResizable();
//			});
//	    }
//
//		enableImageResize();

            /**
             //or we can load the jQuery UI dynamically only if needed
             if (typeof jQuery.ui !== 'undefined') enableImageResize();
             else {//load jQuery UI if not loaded
			$.getScript($path_assets+"/js/jquery-ui-1.10.3.custom.min.js", function(data, textStatus, jqxhr) {
				if('ontouchend' in document) {//also load touch-punch for touch devices
					$.getScript($path_assets+"/js/jquery.ui.touch-punch.min.js", function(data, textStatus, jqxhr) {
						enableImageResize();
					});
				} else	enableImageResize();
			});
		}
             */
            //}


        });
    </script>
    </body>
    </html>